$font-size: 30px;

// 1. 레이아웃 작성

div {
  .ss {
    padding: 18px 12px 16px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
  }
  .kr {
    font-size: 40px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
