@import "../../../styles/base/utils.scss";

@include desktop {
  /*브라우저 사이즈1024px이상일때*/
  .header_pre_space {
    height: 60px;
    width: 100%;
    background-color: #fff;
  }
  .menues_container {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 6;
  }
  .menues {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: inline-block;
      padding: 18px 12px 16px;
      border-bottom: 2px solid transparent;
      line-height: 1.5;
      transition: border-color 0.1s, color 0.1s;
    }

    li:hover {
      border-bottom: 2px solid black;
    }
  }

  .header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    padding: 0 38px 0 36px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    z-index: 5;
    position: absolute;

    .logo_nike {
      display: inline-block;
      position: absolute;
      height: 60px;
      top: 0;
      left: 0;
      padding: 0 36px;
    }

    .searchBar_container {
      display: flex;
      z-index: 3;
      align-items: center;
      padding: 0 20px 0 16px;
      position: relative;

      .searchBar_icon_container {
        width: 36px;
        height: 36px;
        margin: 2px 0 2px 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;

        .searchBar_icon {
          width: 24px;
          height: 25px;
        }
      }
      .searchBar_icon_container:hover {
        background: #e5e5e5;
        border-radius: 50%;
      }

      .searchBar_searchInput {
        background-color: #f6f5f5;
        height: 40px;
        padding: 8px 48px;
        width: 180px;
        cursor: text;
        font-size: 16px;
        border-radius: 100px;
        font-weight: 500;
      }
      .searchBar_searchInput::placeholder {
        color: #d5d5d5;
      }
      .searchBar_searchInput:hover::placeholder {
        color: #858585;
      }
      .searchBar_searchInput:hover {
        background: #e5e5e5;
      }
    }

    .btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        line-height: 40px;
        text-align: center;
        font-size: 28px;
        padding: 0 4px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }
      .icon:hover {
        background: #e5e5e5;
        border-radius: 50%;
      }

      .icon.left {
        margin-right: 12px;
      }
    }
  }

  // 호버시 백그라운드
  .navigation_hover_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 3;
    top: 96px;
    transition: opacity 0.25s, visibility 0s linear 0.25s;
  }
}
